body {
  display: block;
  padding: auto;
  text-align: center;
  background-color: #25b865;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mensaje {
  font-weight: bold;
  background-color: rgb(144, 203, 224);
  padding: 10px;
}
